services:
  deepseek-ocr:
    build:
      context: .
      dockerfile: Dockerfile
    image: deepseek-ocr:latest
    container_name: deepseek-ocr

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
      - HF_HOME=/root/.cache/huggingface

    volumes:
      - .:/deepseekOCR
      - ${HOME}/.cache/huggingface:/root/.cache/huggingface

    working_dir: /deepseekOCR
    stdin_open: true
    tty: true
