services:
  deepseek-ocr:
    build:
      context: .
      dockerfile: Dockerfile
    image: deepseek-ocr:latest
    container_name: deepseek-ocr

    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - HF_HOME=/root/.cache/huggingface

    volumes:
      - .:/deepseekOCR
      - ${HOME}/.cache/huggingface:/root/.cache/huggingface

    working_dir: /deepseekOCR
    stdin_open: true
    tty: true
